USE [master]
GO
/****** Object:  Database [MyShop_SQLServer]    Script Date: 27/12/2019 6:17:09 PM ******/
CREATE DATABASE [MyShop_SQLServer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyShop_SQLServer', FILENAME = N'E:\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyShop_SQLServer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyShop_SQLServer_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyShop_SQLServer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShop_SQLServer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShop_SQLServer]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BillCode] [ntext] NULL,
	[CustomerName] [ntext] NULL,
	[ID_Staff] [int] NULL,
	[ID_Goods] [int] NULL,
	[DateTime] [datetime] NULL,
	[Total] [float] NULL,
	[VAT] [float] NULL,
	[CustomerAddress] [ntext] NULL,
	[CustomerPhoneNumber] [ntext] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [ntext] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [ntext] NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Electric] [float] NULL,
	[Water] [float] NULL,
	[Rent_Premises] [float] NULL,
	[DateTime] [datetime] NULL,
	[Total] [float] NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsCode] [ntext] NULL,
	[GoodsName] [ntext] NULL,
	[ID_Color] [int] NULL,
	[ID_Brand] [int] NULL,
	[ID_Size] [int] NULL,
	[Price] [float] NULL,
	[ID_Type] [int] NULL,
	[Number] [int] NULL,
	[Picture] [ntext] NULL,
	[Import_Date] [datetime] NULL,
	[ID_Sale] [int] NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permision]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permision](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NamePermisson] [ntext] NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_Permision] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisionDetail]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisionDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameAction] [ntext] NULL,
	[CodeAction] [ntext] NULL,
	[ID_Permision] [int] NULL,
 CONSTRAINT [PK_PermisionDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisionRelationship]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisionRelationship](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NOT NULL,
	[ID_Permision] [int] NOT NULL,
	[Suspended] [bit] NULL,
 CONSTRAINT [PK_PermisionRelationship] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PercentageSale] [int] NULL,
	[Donate] [ntext] NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SizeName] [ntext] NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [ntext] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27/12/2019 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameUser] [ntext] NOT NULL,
	[UserName] [ntext] NOT NULL,
	[PassWord] [ntext] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [BrandName]) VALUES (1, N'PRADA')
INSERT [dbo].[Brand] ([ID], [BrandName]) VALUES (2, N'DIOR')
INSERT [dbo].[Brand] ([ID], [BrandName]) VALUES (3, N'HERMÈS')
SET IDENTITY_INSERT [dbo].[Brand] OFF
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([ID], [ColorName]) VALUES (1, N'Red')
INSERT [dbo].[Color] ([ID], [ColorName]) VALUES (2, N'Yellow')
INSERT [dbo].[Color] ([ID], [ColorName]) VALUES (3, N'Orange')
SET IDENTITY_INSERT [dbo].[Color] OFF
SET IDENTITY_INSERT [dbo].[Goods] ON 

INSERT [dbo].[Goods] ([ID], [GoodsCode], [GoodsName], [ID_Color], [ID_Brand], [ID_Size], [Price], [ID_Type], [Number], [Picture], [Import_Date], [ID_Sale]) VALUES (1, N'AAA12345A', N'Áo khoác nam cách nhiệt GOKING', 4, 5, 4, 193000, 1, 5, N'/Images/ao-khoac-nam-1.png', CAST(N'2019-11-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Goods] ([ID], [GoodsCode], [GoodsName], [ID_Color], [ID_Brand], [ID_Size], [Price], [ID_Type], [Number], [Picture], [Import_Date], [ID_Sale]) VALUES (2, N'AAA12345B', N'Áo Khoác Kaki Nam', 2, 1, 3, 199000, 1, 5, N'pack://application:,,,/Images/ao-khoac-nam-2.png', CAST(N'2019-11-15T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Goods] ([ID], [GoodsCode], [GoodsName], [ID_Color], [ID_Brand], [ID_Size], [Price], [ID_Type], [Number], [Picture], [Import_Date], [ID_Sale]) VALUES (3, N'AAA12345Q', N'Áo Khoác Free Fire Hoodie Có Mũ Dài Tay', 10, 3, 5, 199000, 1, 4, N'pack://application:,,,/Images/ao-khoac-nam-3.png', CAST(N'2019-11-15T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Goods] OFF
SET IDENTITY_INSERT [dbo].[Permision] ON 

INSERT [dbo].[Permision] ([ID], [NamePermisson], [Description]) VALUES (1, N'Quản lý', N'Nhóm có quyền cao nhất')
INSERT [dbo].[Permision] ([ID], [NamePermisson], [Description]) VALUES (2, N'Nhân viên', N'Nhóm chỉ có quyền thao tác nhập xuất hàng hóa, tư vấn và  tính tiền bán hàng.')
SET IDENTITY_INSERT [dbo].[Permision] OFF
SET IDENTITY_INSERT [dbo].[PermisionDetail] ON 

INSERT [dbo].[PermisionDetail] ([ID], [NameAction], [CodeAction], [ID_Permision]) VALUES (1, N'Thêm', N'ADD', 2)
INSERT [dbo].[PermisionDetail] ([ID], [NameAction], [CodeAction], [ID_Permision]) VALUES (2, N'Sửa', N'EDIT', 2)
INSERT [dbo].[PermisionDetail] ([ID], [NameAction], [CodeAction], [ID_Permision]) VALUES (3, N'Xóa', N'DELETE', 2)
SET IDENTITY_INSERT [dbo].[PermisionDetail] OFF
SET IDENTITY_INSERT [dbo].[PermisionRelationship] ON 

INSERT [dbo].[PermisionRelationship] ([ID], [ID_User], [ID_Permision], [Suspended]) VALUES (1, 1, 1, 0)
INSERT [dbo].[PermisionRelationship] ([ID], [ID_User], [ID_Permision], [Suspended]) VALUES (2, 2, 2, 0)
SET IDENTITY_INSERT [dbo].[PermisionRelationship] OFF
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([ID], [PercentageSale], [Donate]) VALUES (1, 0, N'Không')
INSERT [dbo].[Sale] ([ID], [PercentageSale], [Donate]) VALUES (2, 0, N'Nón')
INSERT [dbo].[Sale] ([ID], [PercentageSale], [Donate]) VALUES (3, 5, N'Không')
SET IDENTITY_INSERT [dbo].[Sale] OFF
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([ID], [SizeName]) VALUES (1, N'S')
INSERT [dbo].[Size] ([ID], [SizeName]) VALUES (2, N'M')
INSERT [dbo].[Size] ([ID], [SizeName]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[Size] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([ID], [TypeName]) VALUES (1, N'Áo')
INSERT [dbo].[Type] ([ID], [TypeName]) VALUES (2, N'Quần')
SET IDENTITY_INSERT [dbo].[Type] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [NameUser], [UserName], [PassWord]) VALUES (1, N'LIMUPA', N'admin', N'admin')
INSERT [dbo].[User] ([ID], [NameUser], [UserName], [PassWord]) VALUES (2, N'USER', N'user', N'user')
INSERT [dbo].[User] ([ID], [NameUser], [UserName], [PassWord]) VALUES (3, N'EMPLOYEE', N'employee', N'employee')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Goods] FOREIGN KEY([ID_Goods])
REFERENCES [dbo].[Goods] ([ID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Goods]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_User] FOREIGN KEY([ID_Staff])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_User]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Brand] FOREIGN KEY([ID_Brand])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Brand]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Color] FOREIGN KEY([ID_Color])
REFERENCES [dbo].[Color] ([ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Color]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Sale] FOREIGN KEY([ID_Sale])
REFERENCES [dbo].[Sale] ([ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Sale]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Size] FOREIGN KEY([ID_Size])
REFERENCES [dbo].[Size] ([ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Size]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Type] FOREIGN KEY([ID_Type])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Type]
GO
ALTER TABLE [dbo].[PermisionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PermisionDetail_PermisionDetail] FOREIGN KEY([ID_Permision])
REFERENCES [dbo].[Permision] ([ID])
GO
ALTER TABLE [dbo].[PermisionDetail] CHECK CONSTRAINT [FK_PermisionDetail_PermisionDetail]
GO
ALTER TABLE [dbo].[PermisionRelationship]  WITH CHECK ADD  CONSTRAINT [FK_PermisionRelationship_Permision1] FOREIGN KEY([ID_Permision])
REFERENCES [dbo].[Permision] ([ID])
GO
ALTER TABLE [dbo].[PermisionRelationship] CHECK CONSTRAINT [FK_PermisionRelationship_Permision1]
GO
ALTER TABLE [dbo].[PermisionRelationship]  WITH CHECK ADD  CONSTRAINT [FK_PermisionRelationship_User] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[PermisionRelationship] CHECK CONSTRAINT [FK_PermisionRelationship_User]
GO
USE [master]
GO
